#admin{
  .visible-content{
    display: block;
    width: 100%;
    position: relative;
    z-index: 98;
    padding: 200px 80px 0px;
    @include clearfix();
    .admin-content{
      display: block;
      float: left;
      &#new-post{
        width: 40%;
        padding-right: 40px;
      }
      &#current-post{
        width:60%;
      }

      .list-title{
        @include rounded(medium, 22px, $black);
        margin-bottom: 40px;
        border-left:10px solid $gold;
        padding-left: 20px;
      }

      .post-publish{
        label{
          @include rounded(medium, 12px, $black);
          margin-bottom: 5px;
          display: block;
        }
        textarea{
          display: block;
          line-height: 20px;
          padding:10px;
          background: white;
          border:1px solid #f2f2f2;
          @include rounded(medium, 19px, $black);
          margin-bottom: 10px;
          width: 100%;
          height: 120px;
          resize:vertical;
          max-height: 250px;
        }
        input[type="text"]{
          display: block;
          line-height: 20px;
          padding:0px;
          background: white;
          border:0px;
          border-bottom:1px solid #f2f2f2;
          @include rounded(medium, 19px, $black);
          margin-bottom: 10px;
          width: 100%;
          &.title-input{
            line-height: 25px;
            margin-bottom: 3px;
          }
          &.small.type-input{
            line-height: 25px;
          }
          &.small{
            line-height: 15px;
            @include rounded(light, 14px, $black);
          }
        }
        .teaser-preview{
          display: block;
          margin-bottom: 20px;
          position: relative;
          .main-image{
            display: block;
            @include transition(all 200ms ease-out);
            position: relative;
            z-index: 1;
            overflow: hidden;
            @include transform(scale(1));
            img{
              display: block;
              width: 100%;
              @include transition(all 200ms ease-out);
              @include transform(scale(1));
            }
          }
          .copy{
            display: block;
            background:#fff;
            width: 440px;
            max-width: 85%;
            bottom:10px;
            right:20px;
            height: 110px;
            line-height: 110px;
            padding:0 10px 0px 30px;
            position: absolute;
            z-index: 2;
            text-align: justify;
            &:after{
              content:"";
              display: inline-block;
              width: 100%;
            }
            .element{
              display: inline-block;
              vertical-align: middle;
              line-height: 1;
              h2{
                @include rounded(bold, 24px, $black);
                margin-bottom: 3px;
              }
              h3{
                @include rounded(light, 14px, $black);
              }
            }
          }
        }
      }
    }
  }
}