$black: #424242;
$gold:#d5c2b7;
$brown: #9c7568;


@import "compass/css3";
@import "compass/reset";

@import "fonts";
@import "mixins";

*{
  box-sizing:border-box;
}

body{
  background-color: #f6f6f6; // Old browsers
  @include filter-gradient(#f6f6f6, #ffffff, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #f6f6f6 47%,#ffffff 100%));
  min-height: 100%;
  position: relative;
  overflow: auto;
  &:after{
    content:"";
    display: block;
    position: absolute;
    left:-999px;
    background: url('../assets/images/index-BG.jpg') top left no-repeat;
    background: url('../assets/images/index-BG.jpg') top left no-repeat,
                url('../assets/images/about-BG.jpg') top left no-repeat;
  }
}

@import "_parts/liquid";

.wysiwyg{
  .constrained-container{
    padding:0 70px;
    display: block;
    width: 100%;
  }
  .free-container{
    padding-left:60px;
    width: 200%;
    display: block;
    &.right{
      text-align: right;
      padding-right: 60px;
      padding-left:0px;
      width: 100%;
      position: relative;
      left:-200px;
      .featured-title{
        width: 200%;
        display: block;
        text-align: left;
        display: inline-block;
      }
    }
    &.left{
      width: 100%;
      position: relative;
      left:-30px;
    }
  }
  .featured-title{
    @include aqua(63px, $black);
    margin-bottom: 80px;
    line-height: 1.3;
    strong{
      color:$brown;
    }
  }
  .copy{
    @include rounded(light, 19px, $black);
    line-height: 1.3;
    a{
      text-decoration: none;
      color:$brown;
      display: inline-block;
      @include transition(all 200ms ease-out);
      position: relative;
      &:after{
        content:"";
        display: block;
        position: absolute;
        top:0px;
        left:0;
        right:0;
        margin:0 auto;
        width:0px;
        height: 100%;
        background:$brown;
        @include transition(all 100ms ease-out);
        z-index: -1;
        @include opacity(0.8);
      }
      &:hover{
        color:#fff;
        padding:0 2px;
        &:after{
          width: 100%;
        }
      }
      &.button{
        @include rounded(medium, 19px, $brown);
        &:after{
          height: 2px;
          top:100%;
          margin-bottom: -3px;
        }
      }
    }
    strong{
      @include rounded(medium, 19px, $black);
      display: block;
    }
    footer{
      padding-top: 40px;
      h3{
        @include rounded(medium, 19px, $black);
      }
    }
  }
}


@import "_parts/mainNav";
@import "_parts/whiteBar";

@import "_parts/_plugins/redactor";

@import "_parts/leftBackgrounds";

@import "_parts/_pages/index";
@import "_parts/_pages/about";
@import "_parts/_pages/work";
@import "_parts/_pages/work-detail";
@import "_parts/_pages/admin";

#admin-nav{
  position: relative;
  z-index: 999;
}

