$black: #424242;
$gold:#d5c2b7;
$brown: #9c7568;


@import "compass/css3";
@import "compass/reset";

@import "fonts";
@import "mixins";

*{
  box-sizing:border-box;
}

body{
  background-color: #f6f6f6; // Old browsers
  @include filter-gradient(#f6f6f6, #ffffff, vertical); // IE6-9
  @include background-image(linear-gradient(top,  #f6f6f6 47%,#ffffff 100%));
  min-height: 100%;
  position: relative;
  overflow: auto;
}

@import "_parts/liquid";




@import "_parts/mainNav";
@import "_parts/whiteBar";

@import "_parts/_plugins/redactor";

@import "_parts/leftBackgrounds";
@import "_parts/contactPanel";
@import "_parts/wysiwyg";
@import "_parts/global";

@import "_parts/_pages/index";
@import "_parts/_pages/about";
@import "_parts/_pages/work";
@import "_parts/_pages/work-detail";
@import "_parts/_pages/admin";

#admin-nav{
  position: relative;
  z-index: 999;
}

