#left-background{
  position: fixed;
  top:0px;
  left:0px;
  width: 100%;
  height: 100%;
  z-index:1;
  @include transform(translateX(0px));
  .ember-view{
    display: block;
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    z-index:1;
    @include transform(translateX(0px));
  }
  .liquid-child{
    min-height: 100vh;
    display: block;
    position: relative;
    @include transform(translateX(0px));
  }
  .background{
    position: fixed;
    top:0px;
    left:0px;
    height: 100%;
    z-index: 1;
  }
  .index-bg{
    width: 50%;
    background:url('../assets/images/index-BG.jpg') top left no-repeat;
    background-size: cover;
  }
  .about-bg{
    width: 100%;
    background:url('../assets/images/about-BG.jpg') top left no-repeat;
    background-size: auto 100%;
    @media screen and (max-width:1300px)  {
      background-position: -200px top;
    }
  }

  @media only screen and (max-width: 1000px){
    position: fixed;
    .index-bg, .about-bg{
      width: 100%;
      height: 80%;
      top:auto;
      bottom:0%;
      @include opacity(0.1);
    }
    .about-bg{
      background-position: bottom center;
      height: 100%;
      bottom: 0px;
      @include opacity(0.2);
      background-size: cover;
    }
  }
}
