#white-band{
  position: fixed;
  top:0px;
  right:50%;
  max-width:100%;
  width: 670px;
  z-index: 2;
  margin-right:-335px;
  background:#fff;
  height: 100%;
  @include transition(all 200ms cubic-bezier(.16,.55,.74,.55));
  @include transform(translateX(0px));
  &.toWork{
    right:100%;
    margin-right: -670px;
  }
  &.toAbout{
    right:0%;
    margin-right: 0px;
  }

  @media only screen and (max-width: 1000px){
    height: 80%;
    width: 200%;
    max-width: 200%;
    left:-50%;
    @include transform(rotate(10deg));
    top:-20%;
    right: 0px;
    margin-right: 0px;
    &.toWork{
      @include transform(rotate(-10deg));
      height: 60%;
      top:-20%;
      right: 0px;
      margin-right: 0px;
    }
    &.toAbout{
      //top:40%;
      height: 40%;
      @include transform(rotate(-5deg));
    }
  }
}
