<div class="content wysiwyg" id="about">
  <div class="visible-content">
    <div class="main-content">
      <div class="free-container right">
        <h3 class="featured-title">Hey!<br/>Je suis Benoit, je code <br/>des <strong>interfaces web</strong></h3>
      </div>

      <article class="constrained-container copy">
        <p>Je suis actuellement développeur front end chez <a href="http://www.perpetualmotionmachine.fr" target="_blank">Perpetual Motion Machine</a>. J’y suis en charge de la création UX et de l’intégration HTML / CSS / JS de tous nos sites.</p>
        <footer>
          <h3>En savoir plus</h3>
          <a class="button" href="" target="_blank">Téléchargez mon CV</a>
        </footer>
      </article>
    </div>
  </div>
</div>
