{{#unless status.toAdmin }}
  {{#main-nav}}{{/main-nav}}
{{/unless}}

{{liquid-outlet}}

{{#unless status.toAdmin }}
  <div id="white-band" class="{{if status.toWork 'toWork'}} {{if status.toAbout 'toAbout'}} {{if status.toAdmin 'toWork'}}"></div>
{{/unless}}

<div id="left-background">
  {{#liquid-if status.toAbout class='about-mode'}}
    <div class="background about-bg"></div>
  {{/liquid-if}}
  {{#liquid-if status.toHome class='index-mode'}}
    <div class="background index-bg"></div>
  {{/liquid-if}}
</div>