<div class="content wysiwyg" id="index">
  <div class="visible-content">
    <div class="main-content">
      <article class="identity constrained-container">
        <h1>benoit rajalu</h1>
        <h2>développeur front-end | nantes</h2>
      </article>

      <div class="free-container">
        <h3 class="featured-title">Je fabrique des cookies <br/>mais ceux sur internet</h3>
      </div>

      <article class="constrained-container copy">
        <p>Je m’occupe de tout ce qui touche à l’UX et au front-end chez <a href="http://www.perpetualmotionmachine.fr" target="_blank">Perpetual Motion Machine</a>. J’aime coder des interfaces et faire du caramel au beurre salé.</p>
      </article>
    </div>
  </div>
</div>
