{{#each model as |post|}}
  <div class="content wysiwyg" id="work">
    <div class="visible-content">
      <div class="main-content">
        <div class="free-container left">
          <h3 class="featured-title">{{post.title}}</h3>
        </div>
      </div>
    </div>
  </div>
{{/each}}