<div class="content wysiwyg" id="work">
  <div class="visible-content">
    <div class="main-content">
      <div class="free-container left">
        <h3 class="featured-title">La production de <br/>la boutique</h3>
      </div>

      <article class="constrained-container copy">
        <p><strong>100% pur beurre.</strong> <br/>Développement front-end, intégration, design UX ou thèmes wordpress, ces projets m’ont tous apportés. Récents et moins récents, ce sont de bons exemples de mon travail. </p>
      </article>
    </div>
  </div>
</div>
